services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: a98319831a
      POSTGRES_DB: ticketing_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:a98319831a@postgres:5432/ticketing_db
    depends_on:
      - postgres

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data:
